/* ///////////// BODY HTML  ////////////////// */
/* ///////////// BODY HTML  ////////////////// */
/* ///////////// BODY HTML  ////////////////// */
/* ///////////// BODY HTML  ////////////////// */
        html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width:100%;
            height: 100%;
display: flex;

        }
         #errorMessage {
            color: red;
            display: none;
            margin-bottom: 10px;
        }


/* CREATE BUTTON!!! */ 
#paintSkin {
flex: 1;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
margin: 0;
cursor: pointer; /* Cambia el cursor al pasar sobre el botón */   
overflow: hidden;
background-color: #2196F3; 
border-radius: 5px;
}
#paintSkin:hover {
background-color: blue; /* Cambia el color de fondo al pasar el cursor */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}
#skinButton img, #paintSkin img {
height: 32px;  /* Establece una altura fija */
width: auto;   /* Ajusta el ancho automáticamente para mantener la proporción */
}



/* ///////////// CANVAS PAINT BOX ////////////////// */
/* ///////////// CANVAS PAINT BOX ////////////////// */	
/* ///////////// CANVAS PAINT BOX ////////////////// */	
#paintBox h3 {
margin-top: 0;
margin-bottom: 20px;
text-shadow: 2px 2px 4px rgba(255, 165, 0, 0.8); /* Sombra naranja */
color: #ffffff; /* Color del texto blanco */
}

#paintBox {
text-align: center;
display: none; /* Cambiar a 'block' cuando sea necesario mostrar */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #222; /* Fondo oscuro para combinar con el tema del juego */
border-radius: 20px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
overflow: hidden;
width: 300px; 
z-index: 999;
padding: 20px; 
}

#paintBox::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(45deg, #000000, #00008B); /* Degradado de naranja a amarillo */
opacity: 0.8;
z-index: -1;
}

#canvasContainer {
position: relative;
width: 300px;
height: 300px;
margin: auto;
border: 2px solid #ff8008; /* Borde naranja para combinar con el tema */
border-radius: 50%;
overflow: hidden;
}

#svgCanvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#undoButton, #redoButton, #fillButton, #clearButton, .shapeButton {
padding: 5px 10px;
font-size: 14px; /* Aumenta el tamaño de fuente para mejor visibilidad */
background-color: #ff8008; /* Color de fondo naranja */
color: #000; /* Color del texto negro */
border: none;
width: 32px;
height: 32px;
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s;
}

#undoButton:hover, #redoButton:hover, #fillButton:hover, #clearButton:hover, .shapeButton:hover {
background-color: #ffc837; /* Cambio de color al pasar el mouse */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

#colorPicker, #brushSize {
margin-top: 10px;
margin-bottom: 10px;
}

#colorPicker {
width: 60px; /* Ajusta el ancho del selector de color */
height: 30px; /* Ajusta la altura del selector de color */
border: 1px solid #ff8008; /* Borde naranja */
border-radius: 5px;
}

#brushSize {
width: 100%;
}

#paintBox button {
/*margin: 5px;  Espaciado entre botones */
}

#createPaint {
flex: 1;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
margin: 0;
cursor: pointer; /* Cambia el cursor al pasar sobre el botón */   
overflow: hidden;
background-color: #2196F3; 
border-radius: 5px;
}
#createPaint:hover {
background-color: blue; /* Cambia el color de fondo al pasar el cursor */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}
#createPaint img {
height: 32px;  /* Establece una altura fija */
width: auto;   /* Ajusta el ancho automáticamente para mantener la proporción */
}

#createPaintButton {
margin-top: 10px;

display: flex;
width: 100%;
height: 100%;
margin-bottom: 10px;
}

#closePaint {
position: absolute;
top: 2px;
right: 2px;
background-color: transparent; 
cursor: pointer; 
border-radius: 20px;
}
#closePaint:hover {
background-color: red; /* Cambia el color de fondo al pasar el cursor */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}
#closePaint img {
height: 20px;  /* Establece una altura fija */
width: auto;   /* Ajusta el ancho automáticamente para mantener la proporción */
max-width: 80%; /* Limita el ancho máximo al 80% del contenedor */
object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
}




/* ///////////// HIGHSCORE DIV RECUADRO  ////////////////// */
/* ///////////// HIGHSCORE DIV RECUADRO  ////////////////// */
/* ///////////// HIGHSCORE DIV RECUADRO  ////////////////// */
#highscoreDiv {
border-radius: 20px;
background: linear-gradient(45deg, #000000, #3D5032); /* Degradado de naranja a amarillo */
padding: 20px;
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 300px;
z-index: 999; 
}
/* X CLOSE BUTTON!!! */ 
#closeHighscore {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: transparent; 
  cursor: pointer; 
  border-radius: 20px;
}
#closeHighscore:hover {
background-color: red; /* Cambia el color de fondo al pasar el cursor */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}
#closeHighscore img {
height: 20px;  /* Establece una altura fija */
width: auto;   /* Ajusta el ancho automáticamente para mantener la proporción */
max-width: 80%; /* Limita el ancho máximo al 80% del contenedor */
object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
} 
  
}
#scorelist {
margin-top: 20px;
}

#scorelistS {
max-height: 400px;
overflow-y: auto;  
}

.score-item {
font-size: 20px;
margin: 5px 0;
text-shadow: 2px 2px 5px blue;   
}




/* ///////////// GAME OVER BOX ////////////////// */
/* ///////////// GAME OVER BOX ////////////////// */	
/* ///////////// GAME OVER BOX ////////////////// */
#contentR {
text-align: center;
color: white;
font-family: Arial, sans-serif;
}
#retryBox {
display: flex;
visibility: hidden;
position: absolute;
width: 100%;
height: 100%;
background-color: black;
/*display: flex;*/
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
z-index: 999;	
}
#retryButton {
padding: 10px 20px; 
font-size: 16px;
background-color: #04135a; 
color: white;
border: none; 
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s;
}
#retryButton:hover {
background-color: #2f2c79;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}	
