/* ///////////// BODY HTML  ////////////////// */
/* ///////////// BODY HTML  ////////////////// */
/* ///////////// BODY HTML  ////////////////// */
/* ///////////// BODY HTML  ////////////////// */
        html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width:100%;
            height: 100%;
display: flex;

        }
         #errorMessage {
            color: red;
            display: none;
            margin-bottom: 10px;
        }





/* ///////////// HIGHSCORE DIV RECUADRO  ////////////////// */
/* ///////////// HIGHSCORE DIV RECUADRO  ////////////////// */
/* ///////////// HIGHSCORE DIV RECUADRO  ////////////////// */
#highscoreDiv {
border-radius: 20px;
background: linear-gradient(45deg, #000000, #3D5032); /* Degradado de naranja a amarillo */
padding: 20px;
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 300px;
z-index: 999; 
}
/* X CLOSE BUTTON!!! */ 
#closeHighscore {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: transparent; 
  cursor: pointer; 
  border-radius: 20px;
}
#closeHighscore:hover {
background-color: red; /* Cambia el color de fondo al pasar el cursor */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}
#closeHighscore img {
height: 20px;  /* Establece una altura fija */
width: auto;   /* Ajusta el ancho automáticamente para mantener la proporción */
max-width: 80%; /* Limita el ancho máximo al 80% del contenedor */
object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
} 
  
}
#scorelist {
margin-top: 20px;
}

#scorelistS {
max-height: 400px;
overflow-y: auto;  
}

.score-item {
font-size: 20px;
margin: 5px 0;
text-shadow: 2px 2px 5px blue;   
}




/* ///////////// GAME OVER BOX ////////////////// */
/* ///////////// GAME OVER BOX ////////////////// */	
/* ///////////// GAME OVER BOX ////////////////// */
#contentR {
text-align: center;
color: white;
font-family: Arial, sans-serif;
}
#retryBox {
display: flex;
visibility: hidden;
position: absolute;
width: 100%;
height: 100%;
background-color: black;
/*display: flex;*/
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
z-index: 999;	
}
#retryButton {
padding: 10px 20px; 
font-size: 16px;
background-color: #04135a; 
color: white;
border: none; 
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s;
}
#retryButton:hover {
background-color: #2f2c79;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}	
